input {
  margin-right: 1.5rem
}

table input,
table button {
  margin-bottom: .5rem;
}
td, th {
  padding: 0;
}

button {
  background-color: #80B040;
  border-color: #6EA644;
  font-family: inherit;
}

.button-small {
  font-size: 1rem;
  height: 2rem;
  line-height: 1rem;
  padding: 0 1rem;
  font-weight: 400;
}

.drag-handle {
  -moz-user-select: none;
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}
